if !debug
  script(src='/script/script.min.js')
else
  script(src='bower_components/jquery/dist/jquery.min.js')
  script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
  script(src='bower_components/typed.js/dist/typed.min.js')
  script(src='scripts/main.js')
