#about {
    h1 {
        @media (max-width: 990px) {
            margin-top: 3em;
        }

        small {
            display: block;
            font-size: .6em;
            text-transform: uppercase;
            font-weight: 300;
        }
    }
}
