/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "./_branding.scss";

html, body {
    font-family: 'Lato', sans-serif;
    color: $color-black;
    scroll-behavior: smooth;
    background: $color-white;
}

small {
    font-weight: 100;
}

h2 {
    text-transform: uppercase;
}

section {
    min-height: 100vh;

    @media (min-width: 1800px) {
        font-size: 1.2em;
    }
}

a {
    color: $color-primary;

    &:hover {
        color: $color-alt1;
    }
}

.text-primary {
    color: $color-primary !important;
}
